:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #502253;
  padding: 50px;
}

img {
  max-width: 100%;
}

.c-container {
  width: 100%;
  height: 100%;
  background-color: #924a97;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.c-container__left {
  flex: 2;
}

.c-container__right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-text {
  color: #fff;
  font-size: 54px;
  font-family: "Shrikhand", serif;
  font-weight: 500;
  font-style: normal;
}

.c-logo {
  margin-bottom: 100px;
  max-width: 100%;
}
