<div class="c-container">
    <div class="c-container__left">
        <img src="assets/logo_branca.png" alt="Logo Pllis" class="c-logo">
        <div class="">
            <p class="c-text">É um prazer receber você aqui.</p>
            <p class="c-text">Literalmente.</p>
        </div>
        <div class="c-button__group">
            <a routerLink="/login" class="c-button">Sou lojista</a>
            <a routerLink="/cadastro" class="c-button">Sou cliente</a>
        </div>
    </div>
    <div class="c-container__right">
        <img src="assets/imagem_mulher.png" alt="Imagem de uma mulher interagindo com o celular" class="c-image">
    </div>
</div>