img {
  max-width: 100%;
}

.cs-img__pllis-alt {
  max-width: 40%;
}

.cs-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.cs-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  flex-wrap: wrap;
}

.cs-description h2 {
  max-width: 200px;
  text-wrap: balance;
  text-align: end;
}

.cs-description .cs-text {
  color: #000;
}

.cs-text {
  font-size: 1rem;
  font-weight: 500;
}

.cs-strong {
  font-weight: 700 !important;
}

.cs-strong__caption {
  font-size: .875rem;
  font-weight: 900 !important;
  text-wrap: balance;
}

.cs-title, .cs-subtitle, .cs-subtitle__white, .cs-subtitle__pink {
  font-family: "Shrikhand", serif;
  font-style: normal;
  text-wrap: balance;
  line-height: 1;
}

.cs-subtitle, .cs-subtitle__white, .cs-subtitle__pink {
  font-size: 2rem;
  font-weight: 400;
  color: #d0d034;
}

.cs-subtitle__white {
  color: #fff;
}

.cs-subtitle__pink {
  color: #924a97;
}

.cs-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 200;
  color: #fff;
}

.cs-text__gap {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

[class^="cs-section-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px;
}

.cs-sidebar {
  min-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  max-width: 300px;
  width: 100%;
  background-color: #924a97;
  padding: 20px;
}

.cs-download {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 10px 25px;
  cursor: pointer;
}

.cs-download:hover {
  background-color: #fff;
  color: #924a97;
}

.cs-download:hover svg {
  fill: #924a97;
}

.cs-download__text {
  font-size: .75rem;
  font-weight: 500;
}

.cs-download__store {
  font-size: 1rem;
  font-weight: 600;
}

.cs-section-1 {
  background-color: #d0d034;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  gap: 50px;
  flex-wrap: wrap-reverse;
}

.cs-section-1 .cs-title {
  position: absolute;
  font-size: clamp(2rem, 3vw, 3.375rem);
  font-weight: 500;
  color: #fff;
  top: 25%;
  left: 8%;
}

.cs-section-1 .cs-title span {
  background-color: #502253;
  margin-bottom: 10px;
  display: inline-block;
}

.cs-section-1 .cs-title p:nth-child(1) {
  margin-left: 80px;
}

.cs-section-1 .cs-title p:nth-child(2) {
  margin-left: 40px;
}

.cs-section-1 img {
  max-width: 70%;
  max-height: 100vh;
}

.cs-section-2 {
  background-color: #502253;
}

.cs-section-2 .cs-container {
  flex-direction: row;
  align-items: center;
  gap: 75px;
  flex-wrap: wrap;
}

.cs-section-2 .cs-container > * {
  flex: 1 1 20%;
}

.cs-section-3 {
  background-color: #d0d034;
}

.cs-section-3 .cs-container {
  align-items: center;
}

.cs-section-4 {
  background-color: #924a97;
}

.cs-section-4 .cs-title {
  font-size: 3rem;
  font-weight: 500;
  color: #d0d034;
}

.cs-section-4 .cs-subtitle, .cs-section-4 .cs-subtitle__white, .cs-section-4 .cs-subtitle__pink {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .cs-img__pllis-alt {
    max-width: 60%;
  }
  [class^="cs-section-"] {
    padding: 20px;
  }
  .cs-section-1 {
    padding: 0;
    align-items: stretch;
    justify-items: stretch;
  }
  .cs-section-1 img {
    padding: 20px;
    margin: 0 auto;
  }
  .cs-section-1 .cs-title {
    position: relative;
    margin: 0 auto;
    left: 0;
  }
  .cs-section-1 .cs-sidebar {
    width: 100%;
    min-width: 100%;
  }
}
