<section class="cs-section-2">
    <div class="cs-container">
        <img class="cs-img__pllis-alt" src="assets/imagem_logo_pllis.png" alt="Logo Pllis">
        <div class="cs-text__gap">
            <div class="">
                <h2 class="cs-subtitle__white">Prazer e privacidade.</h2>
                <h2 class="cs-subtitle">Amor e comodidade.</h2>
            </div>
            <div class="">
                <p class="cs-text">Uma sex shop abre um mundo de possibilidades para você ou a sua relação. Imagina
                    então
                    poder
                    acessar várias. <span class="cs-strong">Sem sair de casa. A hora que você quiser. </span>
                </p>
                <p class="cs-text"><span class="cs-strong">Sem precisar falar com ninguém. Direto pelo aplicativo.</span></p>
                <p class="cs-text">Esta é a Pllis.</p>
            </div>
        </div>
    </div>
</section>
<section class="cs-section-3">
    <div class="cs-container">
        <img src="assets/imagem_mulher_no_celular.png" alt="Mulher ao telefone">
        <div class="cs-description">
            <div class="">
                <h2 class="cs-subtitle__pink">Fácil como um delivery.</h2>
                <h2 class="cs-subtitle__white">Entenda como funciona.</h2>
            </div>
            <div class="cs-text__gap">
                <ol class="cs-text cs-strong">
                    <p>1) Baixe o app;</p>
                    <p>2) Faça o cadastro;</p>
                    <p>3) Escolha um loja e o que você deseja;</p>
                </ol>
                <p class="cs-strong__caption cs-text">Pronto. Receba tudo na sua casa em alguns minutos. </p>
            </div>
        </div>
    </div>
</section>
<section class="cs-section-4">
    <div class="cs-container">
        <h2 class="cs-title">Estamos aqui para fazer as pessoas se divertirem.</h2>
        <p class="cs-text">Quem define como são elas. Por isso, fazemos a nossa parte com <span
                class="cs-strong">discrição</span>.</p>
        <p class="cs-text">A cabeça é aberta, assim como as possibilidades. Nosso objetivo é aproximar as pessoas e
            melhorar
            a vida por meio
            do prazer. Que é definido por cada indivíduo de um jeito. Foi assim que surgiu a ideia de criar a Pllis:
            porque tem hora que não dá para esperar.
            Somos uma ideia nova para resolver um problema antigo. Agora você pode <span class="cs-strong">comprar
                produtos
                de sex shop com total
                privacidade</span>, sem julgamentos. É só você com o aplicativo.</p>
        <p class="cs-text">Baixe, entenda, experimente. </p>
        <p class="cs-subtitle">Pllis. Um prazer de entrega.</p>
    </div>
</section>