<section class="cs-section-1">
    <div class="cs-sidebar">
        <button class="cs-download">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256"
                fill="#fff">
                <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
                    stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                    font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                    <g transform="scale(10.66667,10.66667)">
                        <path
                            d="M5.41602,2.32813l7.88086,8.20703l2.33008,-2.42578c-4.015,-2.271 -9.32494,-5.27525 -10.21094,-5.78125zM3.14063,2.84766c-0.085,0.198 -0.14062,0.41525 -0.14062,0.65625v17.08789c0,0.197 0.04438,0.37883 0.10938,0.54883l8.80078,-9.16211zM17.42383,9.12695l-2.74023,2.85156l2.71875,2.83203c1.669,-0.945 2.82422,-1.59961 2.82422,-1.59961c0.499,-0.303 0.77848,-0.76934 0.77148,-1.27734c-0.007,-0.495 -0.29544,-0.95166 -0.77344,-1.22266c-0.065,-0.037 -1.19278,-0.67499 -2.80078,-1.58398zM13.29688,13.42383l-7.82227,8.14258c1.347,-0.766 6.32286,-3.58423 10.13086,-5.74023z">
                        </path>
                    </g>
                </g>
            </svg>
            <div class="cs-download__group">
                <p class="cs-download__text">Baixe agora no</p>
                <p class="cs-download__store">Google Play</p>
            </div>
        </button>
        <button class="cs-download">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 24 24"
                fill="#fff">
                <path
                    d="M 16.125 1 C 14.972 1.067 13.648328 1.7093438 12.861328 2.5273438 C 12.150328 3.2713438 11.589359 4.3763125 11.818359 5.4453125 C 13.071359 5.4783125 14.329031 4.8193281 15.082031 3.9863281 C 15.785031 3.2073281 16.318 2.12 16.125 1 z M 16.193359 5.4433594 C 14.384359 5.4433594 13.628 6.5546875 12.375 6.5546875 C 11.086 6.5546875 9.9076562 5.5136719 8.3476562 5.5136719 C 6.2256562 5.5146719 3 7.4803281 3 12.111328 C 3 16.324328 6.8176563 21 8.9726562 21 C 10.281656 21.013 10.599 20.176969 12.375 20.167969 C 14.153 20.154969 14.536656 21.011 15.847656 21 C 17.323656 20.989 18.476359 19.367031 19.318359 18.082031 C 19.922359 17.162031 20.170672 16.692344 20.638672 15.652344 C 17.165672 14.772344 16.474672 9.1716719 20.638672 8.0136719 C 19.852672 6.6726719 17.558359 5.4433594 16.193359 5.4433594 z">
                </path>
            </svg>
            <div class="cs-download__group">
                <p class="cs-download__text">Baixe agora no</p>
                <p class="cs-download__store">Apple Store</p>
            </div>
        </button>
    </div>
    <div class="cs-title">
        <p><span>Não faz sentido</span></p>
        <p><span>esperar se você</span></p>
        <p><span>pode ter agora.</span></p>
    </div>
    <img src="assets/imagem_principal.png" alt="Imagem Principal">
</section>
<section class="cs-section-2">
    <div class="cs-container">
        <img class="cs-img__pllis-alt" src="assets/imagem_logo_pllis.png" alt="Logo Pllis">
        <div class="cs-text__gap">
            <div class="">
                <h2 class="cs-subtitle__white">Prazer e privacidade.</h2>
                <h2 class="cs-subtitle">Amor e comodidade.</h2>
            </div>
            <div class="">
                <p class="cs-text">Uma sex shop abre um mundo de possibilidades para você ou a sua relação. Imagina
                    então
                    poder
                    acessar várias. <span class="cs-strong">Sem sair de casa. A hora que você quiser. </span>
                </p>
                <p class="cs-text"><span class="cs-strong">Sem precisar falar com ninguém. Direto pelo
                        aplicativo.</span></p>
                <p class="cs-text">Esta é a Pllis.</p>
            </div>
        </div>
    </div>
</section>
<section class="cs-section-3">
    <div class="cs-container">
        <img src="assets/imagem_mulher_no_celular.png" alt="Mulher ao telefone">
        <div class="cs-description">
            <div class="">
                <h2 class="cs-subtitle__pink">Fácil como um delivery.</h2>
                <h2 class="cs-subtitle__white">Entenda como funciona.</h2>
            </div>
            <div class="cs-text__gap">
                <ol class="cs-text cs-strong">
                    <p>1) Baixe o app;</p>
                    <p>2) Faça o cadastro;</p>
                    <p>3) Escolha um loja e o que você deseja;</p>
                </ol>
                <p class="cs-strong__caption cs-text">Pronto. Receba tudo na sua casa em alguns minutos. </p>
            </div>
        </div>
    </div>
</section>
<section class="cs-section-4">
    <div class="cs-container">
        <h2 class="cs-title">Estamos aqui para fazer as pessoas se divertirem.</h2>
        <p class="cs-text">Quem define como são elas. Por isso, fazemos a nossa parte com <span
                class="cs-strong">discrição</span>.</p>
        <p class="cs-text">A cabeça é aberta, assim como as possibilidades. Nosso objetivo é aproximar as pessoas e
            melhorar
            a vida por meio
            do prazer. Que é definido por cada indivíduo de um jeito. Foi assim que surgiu a ideia de criar a Pllis:
            porque tem hora que não dá para esperar.
            Somos uma ideia nova para resolver um problema antigo. Agora você pode <span class="cs-strong">comprar
                produtos
                de sex shop com total
                privacidade</span>, sem julgamentos. É só você com o aplicativo.</p>
        <p class="cs-text">Baixe, entenda, experimente. </p>
        <p class="cs-subtitle">Pllis. Um prazer de entrega.</p>
    </div>
</section>