* {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.75;
}

img {
  max-width: 100%;
}

button, .cs-logo-home {
  cursor: pointer;
}

.cs-acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.cs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #502253;
  color: #fff;
}

.cs-header img {
  max-height: 50px;
}

.cs-header button {
  background-color: transparent;
  border: 0;
}

.cs-img__pllis-alt {
  max-width: 40%;
}

.cs-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

p {
  margin: 0;
}

footer {
  font-size: 14px;
  padding: 10px;
}

footer p {
  padding-bottom: 12px;
}

footer span {
  text-align: center;
}

.cs-block {
  display: block;
  font-size: 12px;
}

.cs-terms {
  text-align: center;
}

.cs-terms a {
  font-weight: 600;
  padding: 20px;
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #a7499b;
  color: #fff;
}

p:not(:last-child), ul, li:not(:last-child), h1, h2 {
  padding-bottom: 30px;
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 60px;
  padding-left: 12px;
}

h1 {
  text-align: center;
}

.cs-unstyle ul, .cs-unstyle li:not(:last-child) {
  padding-bottom: 12px;
}

.cs-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .cs-container {
    padding: 20px;
  }
  li {
    margin-left: 30px;
    padding-left: 6px;
  }
}
