* {
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 1.75;
}

:host {
    display: flex;
    justify-content: center;
    padding: 50px;
}

p {
    margin: 0;
}

p:not(:last-child), ul, li:not(:last-child) , h1, h2 {
    padding-bottom: 30px;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 60px;
    padding-left: 12px;
}

h1 {
    text-align: center;
}

.cs-unstyle {
    ul, li:not(:last-child) {
        padding-bottom: 12px;
    }
}

.cs-container {
    max-width: 800px;
}

@media screen and (max-width: 768px) {
    :host {
        padding: 20px;
    }
    
    li {
        margin-left: 30px;
        padding-left: 6px;
    }
}